.card-height {
    min-height: 25rem !important;
}
.card-img-hight {
    height: 150px;
}
.text-md {
    font-size: 0.8rem;
}
.card-body {
    padding: 1rem;
}

strong{
    color: #000;
}

table th{
    color: #000;
}
.active-prom-card-title:hover {
    cursor: pointer;
    background-color: #27509b !important;
    color: #fff !important;

}
.active-prom-card-title a:hover {
    text-decoration: none !important;
    color: #fff !important;
}
.padding-0{
    padding: 0px !important
}
.padding-lr {
    padding: 0 1rem;
}
.padding-1 {
    padding: 1rem;
}

.margin-0 {
    margin: 0px;
}
.prom-detail p{
    margin-bottom: 0.2em !important;
}
.download-icon {
    color: rgb(61, 61, 241);
    float: right;
}