.card-height {
    min-height: 25rem !important;
}
.card-img-hight {
    height: 150px;
}
.text-md {
    font-size: 0.8rem;
}
.card-body {
    padding: 1rem;
}

strong{
    color: #000;
}

table th{
    color: #000;
    text-align: center;
}
.active-prom-card-title:hover {
    cursor: pointer;
    background-color: #27509b !important;
    color: #fff !important;

}
.active-prom-card-title a:hover {
    text-decoration: none !important;
    color: #fff !important;
}
.padding-0{
    padding: 0px !important
}
.padding-lr {
    padding: 0 1rem;
}
.padding-1 {
    padding: 1rem;
}

.margin-0 {
    margin: 0px;
}
.prom-detail p{
    margin-bottom: 0.2em !important;
}
.download-icon {
    color: rgb(61, 61, 241);
    float: right;
}
.cardFilter {
    cursor: pointer;   
}
.cardFilter:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.2); 
    background-image: linear-gradient(315deg, #5078f2 0%, #efe9f4 74%);
    background-color: #5078f2;
}
.multiselect.dropdown-toggle.btn.btn-default {
    border:  1px solid #e3e6f0 !important;
}

.width-100 {
    width: 100% !important;
}

.text-black {
    color: #000 !important;
  }